* {
    margin: 0;
    padding: 0;
    font-weight: lighter;
    color: rgb(86, 99, 96);
    box-sizing: border-box;
}
:root {
    font-size: 12pt;
    font-feature-settings: "palt";
    font-family: 'Sawarabi Gothic', sans-serif;

    --lightbrown: rgba(150, 138, 123, 0.5);
    --brown: rgba(74, 61, 46, 0.5);
    --orange: rgba(231, 76, 60, 1);
    --orange-light: rgba(231, 76, 60, 0.7);
    --navy: rgba(24, 57, 66, 1);
    --navy-light: rgba(24, 57, 66, 0.8);
    --yellow: rgba(219, 182, 49, 0.5);

}

.header-text1, .header-text2, h3, .copyright {
    font-family: 'Caveat', cursive;
    
    /* kakukaku gosick
    font-family: 'Rajdhani', sans-serif;
    */

}

h3 {
    font-size: 4rem;
    padding: 70px 50px 80px 50px;
}







.header-menu{
    background: rgba(255,255,255,0.5);
    display: flex;
    padding: 0 1.5rem;
    position: fixed;
    justify-content: space-between;
    transition: 1s;
    width: 100%;
    z-index: 99;
    color: #fff;
    height: 1px;
    align-items: center;
}
.header-menu.transform{
    background: rgba(24, 57, 66, 0.8);
    height: 60px;
}


.header-menu a {
    text-decoration: none;
    color: transparent;
}
.header-menu a.transform {
    text-decoration: none;
    color: white;
}
.header-text1 {
    font-size: 2.5em;
}


    /*
    border-right: 2.7px solid rgba(255, 255, 255, 0.3);
    border-bottom: 2.7px solid rgba(255, 255, 255, 0.3);
    */
}



.header-menu h1 {
    flex: 1;
    padding: 0;
    font-size: 2.5em;
}
.header-menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
.header-menu ul li {
    margin: 0.5rem;
    padding: 0.3rem 1rem;
    
    font-size: 2rem;
}





.top-page {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    align-items: center;
    width: 100%;
    height: 800px;
    background: rgba(231, 76, 60, 0.7);
    font-size: 140%;
}
.top-page-text {
    font-family: 'Caveat', cursive;
    font-size: 1.8em;
    color: white;
    text-align: center;
}









#home-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 2em;
    margin: 10em 0 15em 0;
    width: 100%;
}
.profile-square {
    border: 4px solid rgba(231, 76, 60, 1);
    margin: auto;
    padding: 3rem 8rem;
}
.profile-photo-home {
    width: 12em;
    padding-bottom: 0.5em;
}
#home-profile .name {
    font-size: 1.7em;
}






/*ボタン　後*/
a.btn_02 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(231, 76, 60, 1);
    
    box-sizing: border-box;
    width: 5em;
    height: 50px;
    padding: 0 10% 0 10%;
    
    text-align: left;
    text-decoration: none;
    position: relative;
    transition-duration: 0.4s;
    font-size: 1.1em;
    margin: 2em 25% 4em auto;

    border: 1px solid rgba(231, 76, 60, 1);
    color: #fff;
}
/*三角　後*/
a.btn_02:hover {
    background: white;
    color: rgba(231, 76, 60, 1);

}

/*ボタン　前*/
a.btn_02:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 8px;
    border-color: transparent transparent transparent white;
    position: absolute;
    top: 50%;
    left: 6%;
    margin-top: -7px;
}
/*三角　前*/
a.btn_02:hover:before {
    border-color: transparent transparent transparent rgba(231, 76, 60, 1);
}








#home-skills {
    padding: 0 17%;
    margin-top: 10em;
    width: 100%;
}
#home-skills h3 {
    text-align: center;
}
#home-skills img {
    width: 15%;
    margin: 2.3%;
}

.button-skills {
    margin-top: 0;
}












#home-works {
    margin-top: 10em;
    width: 100%;
}
#home-works h3 {
    text-align: center;
    margin-top: 4em;
}



/* 全スライド共通スタイル */
.swiper-slide img{
   width: 70%;
   display: block;
   margin-right: auto;
    margin-left: auto;
}

.swiper-button-prev, .swiper-button-next, .swiper-pagination {
    color: rgba(231, 76, 60, 1);
    width: 20%;
}











footer {
    background: white;
    text-align: center;
    padding: 30px;
    padding-top: 130px;
    width: 100%;
}

#page_top{
    width: 60px;
    height: 60px;
    margin-left: 7%;
  }
#page_top a{
    width: 60px;
    height: 60px;
    text-decoration: none;
}
#page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f0aa';
    font-size: 60px;
    color: rgba(24, 57, 66, 0.8);
}
.copyright {
    text-align: end;
    font-size: 1.8em;
    margin-right: 3%;
}